{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression" : "#storeId = :storeId AND #timestamp >= :timestamp",
        "expressionNames" : {
            "#storeId": "storeId",
            "#timestamp": "createdAt"
        },
        "expressionValues" : {
            ":storeId": { "S" : "$context.args.storeId" },
            ":timestamp": { "N" : 0 }
        }
    },
    "nextToken" : $util.toJson($util.defaultIfNullOrEmpty($ctx.args.nextToken, null)),
    "scanIndexForward" : false,
    "consistentRead" : false,
    "select" : "ALL_ATTRIBUTES",
    "filter" : #if($context.args.filter) $util.transform.toDynamoDBFilterExpression($ctx.args.filter) #else null #end,
}