#set($authorized = false)
#foreach($item in $context.result["canAccess"])
    #if($item == $context.identity.username)
        #set($authorized = true)
    #end
#end

#if($authorized)
    $utils.toJson($context.result);
#else
    $utils.unauthorized()
#end